In [1]:
from scipy.constants import c
import numpy as np
from numpy.lib import recfunctions as rec
from astropy.io          import fits
from astropy.coordinates import SkyCoord, Angle, search_around_sky
from astropy             import units as u
from astropy import cosmology
from astropy.cosmology import FlatLambdaCDM
from matplotlib import pyplot as plt
import pandas as pd
import math
from tqdm.notebook import tqdm

In [10]:
matched_df=pd.read_pickle("matches.pkl")

full_stack_v=[]
population = np.empty(len(matched_df), dtype=object)
full_stack_sep=[]
full_stack_r=[]
full_stack_rich=[]
full_stack_zcen=[]

for i in range(len(matched_df)):
    full_stack_v.extend( matched_df['v'][i])
    full_stack_sep.extend( matched_df['sep2d'][i] )
    full_stack_r.extend( matched_df['x'][i] )
    population[i]=len(matched_df['v'][i])
    full_stack_rich.extend( np.repeat(matched_df['rich'][i],len(matched_df['v'][i])).tolist() )
    full_stack_zcen.extend( np.repeat(matched_df['zcen'][i],len(matched_df['v'][i])).tolist() )

wolfe=pd.DataFrame({'rich':full_stack_rich,'zcen':full_stack_zcen,'r':full_stack_r,'v':full_stack_v})

In [27]:
fname = "last_catalog.npy"
dt = np.load(fname)
pax=pd.DataFrame.from_records(dt.tolist(), columns=dt.dtype.names)

In [24]:
rich=pax.LAMBDA_CHISQ
zcen=pax.BCG_SPEC_Z
r=pax.R/pax.R_LAMBDA
v=pax.Velocity

In [28]:
pax=pd.DataFrame({'rich':full_stack_rich,'zcen':full_stack_zcen,'r':full_stack_r,'v':full_stack_v});

In [33]:
wolfe_bin=wolfe.loc[ (df.r > 0.6) & (df.r < 0.8) ]
pax_bin=pax.loc[ (df.r > 0.6) & (df.r < 0.8) ]

In [34]:
wolfe_bin

              rich      zcen         r             v
32      180.104446  0.090807  0.775443 -3.493513e+05
38      180.104446  0.090807  0.797287  3.037289e+05
40      180.104446  0.090807  0.638033  5.455031e+04
44      180.104446  0.090807  0.643812 -2.525446e+06
58      180.104446  0.090807  0.617369  3.663840e+05
...            ...       ...       ...           ...
288555   21.086588  0.358991  0.715424  1.237901e+06
288626   32.771896  0.475571  0.709331 -2.374751e+05
288652   25.144411  0.401035  0.722914 -5.852501e+05
288721   46.303062  0.480721  0.799848 -1.950456e+05
288817   35.578812  0.472841  0.725266  1.453176e+06

[10414 rows x 4 columns]

In [35]:
pax_bin

              rich      zcen         r             v
32      180.104446  0.090807  0.775443 -3.493513e+05
38      180.104446  0.090807  0.797287  3.037289e+05
40      180.104446  0.090807  0.638033  5.455031e+04
44      180.104446  0.090807  0.643812 -2.525446e+06
58      180.104446  0.090807  0.617369  3.663840e+05
...            ...       ...       ...           ...
288555   21.086588  0.358991  0.715424  1.237901e+06
288626   32.771896  0.475571  0.709331 -2.374751e+05
288652   25.144411  0.401035  0.722914 -5.852501e+05
288721   46.303062  0.480721  0.799848 -1.950456e+05
288817   35.578812  0.472841  0.725266  1.453176e+06

[10414 rows x 4 columns]

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'